.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.box {
  margin-top:2%;
  margin-bottom: 2%;
}
.content p:not(:last-child) {
  margin-bottom: 0;
}

.media .content:not(:last-child){
  margin-bottom: 0;
}
.post-title p{
  margin-bottom: 0;
}

.content {
  margin-bottom: 0;
}

.spacer {
  display:inline-block;
  width: 8px;
}

.open-add-post {
  position: fixed;
  right: 25px;
  bottom: 25px;
}

.open-add-post a {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #00d1b2;
  background-image: url('./icons/add.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: 0;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
